/* Стилі для контейнера */
.questions {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  
/* Стилі для елементів */
  .question-box {
    flex: 1;
  }
