*{
  margin: 0;
  padding: 0;
}

.survey-title{
  text-align: center;
}

.survey-content{
  background: #b6b2b2;
  padding: 5px;
  border-radius: 10px;
  margin: 0px 250px 0px 250px;
}

.survey-description{
  text-align: center;
}

/* Стилі для контейнера */
.survey-questions {
  display:block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Стилі для елементів */
.question-box {
  flex: 1;
  background: #ece7e7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Стилі для заголовка */
.question-title {}

/* Стилі для вмісту */
.question-content {}

.item-radio-button {
  display: contents;
}

.item-radio-text {
  display: contents;
}

.item-check-button {
    display: contents;
}
.item-check-text {
    display: contents;
}

