*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

#header {
  height: 80px;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.logo {
  display: contents;
}

#logo {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  border-radius: 40px;
}

.options span {
  color: white;
  font-size: 100%;
  font-family: Open Sans;
  font-weight: 300;
  text-decoration: underline;
  margin: 15px;
  word-spacing: 5%;
  padding-bottom: 20px;
}

.options a{
  display:contents;
}

.options{
  text-align: right;
  float: right;
  padding: 3% 0 0 0;
}